body {
    background-image: linear-gradient(105deg,#824cda,#fb3131);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    background: rgba(255,255,255,0.5);
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
}

input {
    background: none;
    font-size: 25px;
    width: 65%;
    border: none;
}

input:focus {
    outline: none;
}

#userInput {
    opacity: 50%;
}

#userInput:focus {
    opacity: 100%;
}

.todoButton {
    background-color: transparent;
    float: right;
    font-size: 23px;
    margin: 4px;
    border: none;
    transition: all ease 500ms;
}

.completeButton {
    float: left;
}

table {
    border-spacing:0 15px;
}

tr td {
    background: rgba(255,255,255,0.5);
}

ol li {
    background: rgba(255,255,255,0.5);
    display: block;
}

label {
    overflow: hidden;
    text-overflow: ellipsis; 
    display: inline-block;
    font-size: 25px;
    max-width: 400px;
    padding-left: 10px;
    width: 400px;
    margin-top: 6px;
}

.editMode {
    display: none;
}

.todoButton:hover{
    transform: scale(1.5,1.5);
    transition: all ease 500ms;
  }

.completeTodo {
    text-decoration: line-through;
}

@keyframes test {
    from {background-color: red;}
    to {background-color: yellow;}
  }

.test {
    animation-name: test;
    animation-duration: 4s;
}